@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(./../Images/background.webp);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    width: 0.3em;
}
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5); 
}
body::-webkit-scrollbar-thumb {
    width: 0.2em;
    background-color: turquoise;
}

#aboutCard {
    position: absolute;
    left: 50%; top: 50%;
    width: 700px;
    height: auto;
    border-radius: 15px;
    border: 5px rgba(0, 0, 0, 0.2) solid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fall-fade 1s 1 forwards ease-out;
}

@keyframes fall-fade {
    0%   {opacity: 0.5; transform: translate(-50%, calc(-50% - 25px));}
    100% {opacity: 1; transform: translate(-50%, -50%);}
}

#name {
    display: inline-block;
    position: relative;
    left: 50%; 
    transform: translate(-50%, 0);
    margin: 15px 0px;
    padding: 7px 14px;
    border: 1px solid turquoise;
    border-radius: 3px;
    color: turquoise;
    font-size: 30px;
    font-family: Raleway;
    background-color: rgba(255, 255, 255, 0.1);
}

#pfp {
    display: block;
    width: 225px; height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 100%;
    animation: pfp-blink 2.5s infinite forwards ease-in-out;
}

@keyframes pfp-blink {
    0%   {border: 3px solid rgba(255, 255, 255, 0.2);}
    50%  {border: 3px solid turquoise;}
    100% {border: 3px solid rgba(255, 255, 255, 0.2);}
}

#aboutText {
    width: 100%;
    font-size: 16px;
    font-family: Raleway;
    line-height: 25px;
    color: white;
    user-select: text;
    -webkit-user-select: text;
}

.highlighted {
    color: turquoise;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

#codeIcons {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.2);
}

.fa-heart {
    color: turquoise;
}

#codeIcons i:not(.fa-heart):hover {
    color: turquoise;
    transition: 0.2s ease-in;
}

#contactIcons {
    position: absolute;
    top: 10px; left: 10px;
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}
#contactIcons li{
    display: block;
    padding: 6px 5px;
    text-decoration: none; 
}

#contactIcons li i {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
}

#contactIcons li i:hover{
    color: turquoise;
    transition: 0.1s ease-in;
}

.tooltip {
    display: none;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 7px 14px;
    font-family: Raleway;
    color: turquoise;
    position: relative;
    bottom: 7px;
    z-index: 3;
}

@keyframes slide-fade {
    0%   {opacity: 0.5; left: 5px;}
    100% {opacity: 1; left: 0;}
}

#Paimon {
    position: fixed;
    right: 0; bottom: 0;
    height: 300px;
}

#aboutCard img:not(#pfp) {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
}

.specialText {
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 7px;
    text-align: center;
}

/* Responsive CSS when screen width <= 700px */
@media only screen and (max-width: 1000px) {
    #Paimon {
        height: 225px;
        position: fixed;
        top: 0; right: 0;
        z-index: 2;
    }
}
@media only screen and (max-width: 700px) {
    #aboutCard {
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0; left: 0;
        border-radius: 0;
        animation: fall-fade-responsive 1.5s 1 forwards ease-in-out;
    }
    @keyframes fall-fade-responsive {
        0%   {opacity: 0.5; transform: translate(0, -25px);}
        100% {opacity: 1; transform: translate(0, 0);}
    }
    #Paimon {
        height: 150px;
        position: fixed;
        top: 0; right: 0;
        z-index: 2;
    }
    #aboutCard img:not(#pfp) {
        max-width: 80%;
    }
}